* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
  }

  body {
    background-color: #8DB596;
    height: 150vh; 
    font-family: Arial; 
    color: white;
    line-height: 1.8;
  }

  a {
   text-decoration: none;
  }

  #container {
    max-width: 400px;
    margin: 30px auto;
    padding: 20px;
    
  }

  .form-wrap {
    background-color: white;
    color: #333;
    padding: 15px 25px;
  }

  .form-wrap h1,
  .form-wrap p {
    text-align: center;
    color: gray;
  }

  .form-wrap .form-group {
    margin-top: 15px;
  }

  .form-wrap .form-group label {
    display: block;
    color: #666;
  }

  .form-wrap .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: inline;
  }

  .form-wrap .form label {
    display: block;
    color: #666;
    margin-top: 10px;
  }
  .form-wrap .form input {
    display: inline;
    color: #666;
    margin-top: 10px;
    width: 25%;
  }
  
  .form-wrap button {
   border: 2px solid transparent;
  background: #8DB596;
  color: #ffffff;
  font-size: 16px;
  line-height: 25px;
  padding: 10px 0;
  text-decoration: none;
  text-shadow: none;
  border-radius: 3px;
  box-shadow: none;
  transition: 0.25s;
  display: block;
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
  }

  .form-wrap button:hover {
  background-color: #77A180;
  }

  .form-wrap .bottom-text {
    font-size: 13px;
    margin-top: 20px;
  }

  .form-group p{
    display: inline;
  }

#footer {
    background-color: #f6f6f6;
    border-top: 1px solid #dce8f1;
    padding: 25px;
    text-align: center;
    color: #0066FF;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;

}
  .underlineHover:after {
    display: block;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 2px;
    background-color: #56baed;
    content: "";
    transition: width 0.2s;
  }
  
  .underlineHover:hover {
    color: #0d0d0d;
  }
  
  .underlineHover:hover:after{
    width: 100%;
  }